body, html {
    height: 100%;
    background-color: #043B59;
}


h1{
    display: flex;
    align-items: center;
    position: sticky;
    color: white;
    gap: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 100px;
 }

* {
    box-sizing: border-box;
}
    
 
 .bg_Form{
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 700px;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 60%;
    padding: 20px;
    text-align: center;
 }

 .container{
    display: flex;
    align-items: center;
    gap: 10px;
 }

 .container *{
    font-family: "Poppins", sans-serif;
    font-size: 80px;
 }

 p{
    margin-left: 10px;
    white-space: nowrap;
    color:#043B59;
 }

textarea{
    width: 100%;
    height: 70%;
    resize: block;
    background-color: white;
    box-sizing: fixed;
    border: none;
    font-size: 16px;
    line-height: 30px;
    padding: 15px;
    border-radius: 3px;
    color: black;
    outline: none;
}
 


     