:root {
    --acent-color: #146d90;
    --base-color: white;
    --text-color: #2E2B41;
    --input-color: #F3F0FF;
}

/* Set base styles for HTML */
html {
    font-family: Poppins, Segoe UI, sans-serif;
    font-size: 12pt;
    color: var(--text-color);
}

/* Style the body element */
body {
    background-image: url(medical.jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    margin: 0;
}

.form-container {
    background: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 600px;
}

/* Style the main heading */
h1 {
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: var(--text-color);
}

h2 {
    color: #146d90;
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #146d90;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px; /* Space between the last input and the button */
}

button:hover {
    background-color: #125a80;
}
